@model Sankabinis.Models.RaceParticipantsViewModel

@{
    ViewData["Title"] = "AppealPage";
    var user1 = Model;
}

<h1>Appeal Information</h1>

<div>
    <h4>Participants</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User1.Slapyvardis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User2.Slapyvardis)
        </dd>
        </dd>
    </dl>
</div>
@if(!Model.Appeal.Uzdarytas)
{
    <div>
        <a asp-action="ChooseWinner" asp-route-id1="@Model?.User1.Id_Naudotojas" asp-route-id2="@Model?.User2.Id_Naudotojas" asp-route-appealid="@Model?.Race.Id_Lenktynes">Participant 1</a> |
        <a asp-action="ChooseWinner" asp-route-id2="@Model?.User1.Id_Naudotojas" asp-route-id1="@Model?.User2.Id_Naudotojas" asp-route-appealid="@Model?.Race.Id_Lenktynes">Participant 2</a>
    </div>
}
else
{
    <div>Appeal closed</div>
}