@model Sankabinis.Models.User

<h2>Login</h2>

<form asp-controller="User" asp-action="ValidateSignIn" method="post">
    <div class="form-group">
        <label asp-for="Slapyvardis" class="control-label">Username</label>
        <input asp-for="Slapyvardis" class="form-control" />
        <span asp-validation-for="Slapyvardis" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Slaptazodis" class="control-label">Password</label>
        <input asp-for="Slaptazodis" class="form-control" />
        <span asp-validation-for="Slaptazodis" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
</form>
